<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cadastro</title>

    <link rel="stylesheet" href="./css/styledCadaster.css" />
    <link rel="text/javascript" href="./js/cadasterUser" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./css/styledCadasterUser.css" />
    <img src="./img/BoschBanner.jpg" style="width: 100%; height: 300px" />
  </head>
  <body>
    <main>
      <div class="container">
        <div id="cardContainer" class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card">
              <h5 class="card-title">Cadastro de Funcionários</h5>
              <div class="card-img-container">
                <img
                  src="./img/user.png"
                  class="card-img-top custom-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <form
                  action="/cadasterUser"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <label for="name"> Nome: </label>
                  <input 
                    type="text"
                    class="form-control"
                    placeholder="Insert name user"
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                    name="name"
                  />
                  <label for="email"> Email: </label>
                  <input 
                    type="email"
                    class="form-control"
                    placeholder="Insert Email user"
                    aria-label="Email"
                    aria-describedby="addon-wrapping"
                    name="email"
                  />
                  <label for="phone"> Telefone: </label>
                  <input 
                    type="tel"
                    class="form-control"
                    placeholder="Insert Phone user"
                    aria-label="phone"
                    aria-describedby="addon-wrapping"
                    name="phone" />
                  <label for="edv"> Edv: </label>
                  <input 
                    type="text" 
                    class="form-control"
                    placeholder="Insert Edv user"
                    aria-label="Edv"
                    aria-describedby="addon-wrapping" 
                    name="edv" />
                  <label for="dateBirth"> Data de Nascimento: </label>
                  <input 
                    type="date"
                    class="form-control"
                    placeholder="Insert DateBirth user"
                    aria-label="DateBirth"
                    aria-describedby="addon-wrapping" 
                    name="dateBirth"
                  />
                  <button type="submit" class="btn btn-primary">
                    Cadastrar Usuário
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
